<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<p>Try to change the names.</p>

<div ng-app="myApp" ng-controller="myCtrl">

<td>First Name:</td> <input type="text" ng-model="firstName"><br>
<td>Middle Name: </td><input type="text" ng-model="middleName"><br>
<td>Last Name: </td><input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName +MiddleName + lastName}}

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName= "";
	$scope.MiddleName= "";
    $scope.lastName= "";
});
</script>

</body>
</html>
